<mat-dialog-content>
    <mat-toolbar color="primary" class="toolBar">
        <div class="mat-display-5" *ngIf="service.createAdRent">New Rent Ad</div>
        <div class="mat-display-5" *ngIf="service.updateAdRent">Update Rent Ad</div>
        <div class="mat-display-5" *ngIf="service.viewAdRent">Rent Ad - Info</div>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="close()" tabIndex="-1"><mdb-icon fas icon="times"></mdb-icon></button>
    </mat-toolbar>
    <div class="container-fluid">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && saveOrUpdate()" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" *ngIf="!service.createAdRent">
                        <input matInput placeholder="ID Rent Ad" [(ngModel)]="service.adRent.id" [ngModelOptions]="{standalone: true}" readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="!service.createAdRent">
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="myDP2" placeholder="Date" [(ngModel)]="service.adRent.creationDate" [ngModelOptions]="{standalone: true}" readonly>
                        <mat-datepicker-toggle disabled [for]="myDP2" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #myDP2 disabled></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Status" [(ngModel)]="service.adRent.status" [ngModelOptions]="{standalone: true}" type="text" readonly>
                    </mat-form-field>
                </div>
            </div>
            <app-real-estate-dialog></app-real-estate-dialog>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <textarea rows="4" cols="10" matInput placeholder="Description" [(ngModel)]="service.adRent.description" [ngModelOptions]="{standalone: true}" type="text" [readonly]="service.viewAdRent"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Rent Price (€)" [(ngModel)]="service.adRent.rentprice" name="rentprice" id="rentprice" #rentprice="ngModel" [ngClass]="{'is-invalid': f.submitted && rentprice.invalid}" required [readonly]="service.viewAdRent" pattern="[0-9]*">
                        <mat-error *ngIf="f.submitted && rentprice.invalid">
                            <mat-error *ngIf="rentprice.errors?.pattern">
                                {{errorService.ONLY_NUMBERS_MESSAGE}}
                            </mat-error>
                            <mat-error *ngIf="rentprice.errors?.required">
                                {{errorService.REQUIRED_MESSAGE}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Min Months" [(ngModel)]="service.adRent.minimummonths" name="min" id="min" #min="ngModel" [ngClass]="{'is-invalid': f.submitted && min.invalid}" required [readonly]="service.viewAdRent" pattern="[0-9]*">
                        <mat-error *ngIf="f.submitted && min.invalid">
                            <mat-error *ngIf="min.errors?.pattern">
                                {{errorService.ONLY_NUMBERS_MESSAGE}}
                            </mat-error>
                            <mat-error *ngIf="min.errors?.required">
                                {{errorService.REQUIRED_MESSAGE}}
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button type="submit" color="primary" class="btn btn-primary dugme save " *ngIf="service.createAdRent">Save</button>
            <button mat-raised-button type="submit" color="primary" class="btn btn-primary dugme update " *ngIf="service.updateAdRent">Update</button>
            <div class="clearfix "></div>
        </form>
    </div>
</mat-dialog-content>