<app-sidebar>

</app-sidebar>
<header class="intro-header">
    <!--Intro Section-->
    <section class="view intro-2 rgba-gradient">
        <div class="view full-bg-img">
            <div class="container flex-center">
                <div class="row flex-left pt-5 mt-3">
                    <div class="xtext-center text-md-left margins">
                        <div class="white-text">
                            <h1 class="h1-responsive wow font-weight-bold fadeInLeft" data-wow-delay="0.3s">Online real estate agency - Rent and Sell</h1>
                            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                            <div class="button-row">
                                <button mat-raised-button style="width: 45%; color:navy" [routerLink]="['/rent']">Real Estates for RENT</button>
                                <button mat-raised-button style="width: 45%;  margin-left: 10%; color:navy" [routerLink]="['/sell']">Real Estates for SELL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</header>